.container {

    width: 90%;
    margin-left: 60px;
    
   
}
.header {
  
    margin-top: 15px;
    text-align: center;
    
}
.altheader {
  
   
    background-color: #EEEEEE;
    text-align: center; 
   
    clear: both;
}
.yazi {
    text-align: center; 
}
.butondiv {
    clear: both;
}
.text {
    margin-top: 0px;
}
.content1 {
    padding-top: 14px;
    padding-bottom: 14px;
    float: left;
    text-align: center;
    background-color: #7EE5DA;
    margin-top: 3px;
    width: 33.2%;
    margin-right: 2px;
}
.content2 {
    text-align: center;
    background-color: #70CCC2;
    margin-top: 3px;
    float: left;
    width: 33.2%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 2px;
}
.content3 {
    text-align: center;
    background-color: #62B3AA;
    margin-top: 3px;
    float: left;
    width: 33.2%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.yazicopy{
    margin-top: 70px;
    text-align: center;
  
}
